<ion-header header-ios>
  <ion-navbar transparent [ngClass]="{'active':true}">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title text-left>Votaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="user">
      <h2>Bienvenido <b><i>{{user.user}}</i></b></h2>
      <div *ngFor="let muestra of user.muestras">
         <muestra [muestraId]="muestra" [userId]="user._id" [votado]="voto"></muestra>
      </div>
      <button class="button_vote" ion-button full outline (click)="votar()">Enviar</button> 
  </div>
  
</ion-content>

